*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
/* thai */
@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: local('Charmonman Regular'), local('Charmonman-Regular'), url(https://fonts.gstatic.com/s/charmonman/v3/MjQDmiR3vP_nuxDv47jiaIKivZVi-OBfAw.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: local('Charmonman Regular'), local('Charmonman-Regular'), url(https://fonts.gstatic.com/s/charmonman/v3/MjQDmiR3vP_nuxDv47jiaJmivZVi-OBfAw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: local('Charmonman Regular'), local('Charmonman-Regular'), url(https://fonts.gstatic.com/s/charmonman/v3/MjQDmiR3vP_nuxDv47jiaJiivZVi-OBfAw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: local('Charmonman Regular'), local('Charmonman-Regular'), url(https://fonts.gstatic.com/s/charmonman/v3/MjQDmiR3vP_nuxDv47jiaJaivZVi-OA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #150e0e;
	padding: 0;
	margin: 0;
	font-weight: 300;
  overflow-x: hidden;
	


}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
li {
	list-style-type: none;
}

a{
 
    text-decoration: none;
    -webkit-transition: color 150ms ease;
    -o-transition: color 150ms ease;
    transition: color 150ms ease;
    color: inherit;
    
}
.uni_windo{
	width: 100%;
	height: 100%;
	background: #150e0e;
	position: relative;
}
header{
	width: 100%;
	padding: 10px 0px;
	color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
/*	background: #fff;*/
	

}
.yayaoune, .tit_inf{
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
}
.head_box{
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}
.logo, .bolo{
	font-size: 18px;
	font-family: 'Charmonman', cursive;
	display: inline-block;
	font-family:monospace;
	letter-spacing: 1.5px;
  color: #fff;
 
}
.bolo{ text-align:center;}
.logo span,.bolo span{font-family: fantasy;font-size: 12px;}
.logo img{width: 25%;}
.bolo img{width: 35%;}
.mon_na ul{
  display: block;
}
.mon_na ul li{
  float: left;
  font-size: 14px;
  font-family: fantasy;
  padding: 0 5%
}
.mon_na ul li:last-child{padding-right: 0}
.nav_icon{
	position: relative;
	width: 50px;
	display: block;
    height: 39px;
    cursor: pointer;
    transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    border-radius: 4px;
    

}
.nav_icon span{
	height: 3px;
	background: #ab3636;
	display: block;
	cursor: pointer;
	position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 35px;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}
.menu-is-open .nav_icon span {
    background: transparent;

}
.menu-is-open .nav_icon span:before{
transform: translateY(0) rotate(-45deg);
background-color: #fff
}
.menu-is-open .nav_icon span:after{
transform: translateY(0) rotate(45deg);
background-color: #fff
}
.nav_icon span:before, .nav_icon span:after{
	background: #ab3636;
	content: '';
	display: block;
	transform: translateY(-50%);
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35px;
    height: 3px;
    transform: translateY(-9px);
    transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
	
}
.nav_icon span::after {
    transform: translateY(9px);
}
.hb_blok{
	display: inline-block;
	float: right;
 
}


.ind_footer{
	position: fixed;
	left: 0;
	top: auto;
	width: 100%;
	bottom: 2%;
	font-size: 11px;
	font-family: fantasy;
	letter-spacing: 2px;
	text-align: center;
	position: static;
	margin-top: 4%
}
.index_ba{
	width: 100%;
	height: 100%;
  position: absolute;
  left: 0;
  top: 0;
    background: rgb(21, 32, 43,0.2);
    color: #fff;
    font-family: fantasy;
	text-align: center;
	

}
.flex{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   align-content: center;
}
.dj_left{
  height: 100%;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    display: table-cell;
    color: #fff;
  
    width: 100%


}
.dj_left span{
  display: block;
  width: 100%;
  font-family: fantasy;
  font-size: 13px
}
.flt{
  padding-left: 0;
transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;

}

.flt span{
      font-size: 1.3rem;
    line-height: 1.421;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 2rem;
    padding-left: 6rem;
    position: relative;

}
.flt span::before {
   content: "";
    display: block;
    width: 5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    /* left: 6px; */
    top: 1rem;
}
.go .flt{
  padding-right: 10px
}
.tit_inf{
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  overflow: hidden;

}
.panel_right{
    list-style: none;
    font-family: fantasy;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    color: #fff
}
.panel_right dd::before {
    content: "";
    display: block;
    height: 6px;
    width: 6px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3rem;
    left: 2rem;
  }
.panel_right dd a{

    display: block;
   padding: 1.5rem 15rem 1.5rem 4rem;
    color: #ffffff;

}
.panel_right dd {
     display: block;
    padding: 0;
    text-align: left;
    background-color: rgb(21, 32, 43);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    
  

}
.header-nav{
  z-index: 900;
    font-family: fantasy;
    font-size: 12px;
    line-height: 1.846;
    padding: 3.6rem 3rem 3.6rem 3.6rem;
    height: 100%;
    width: 20%;
    background: rgb(21, 32, 43,.80);
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    visibility: hidden;
    background:#ab3636;
}
.menu-is-open .header-nav, .menu-is-open .laji {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-overflow-scrolling: touch;
}
.header-nav__close span::before, .header-nav__close span::after {
    content: "";
    display: block;
    height: 2px;
    width: 12px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 9px;
    margin-top: -1px;
}
.header-nav__content {
    /*background: rgb(21, 32, 43,.80);*/
    position: relative;
    left: 50px;
    opacity: 0;
    visibility: hidden;
}

.menu-is-open .header-nav .header-nav__content {
    opacity: 1;
    visibility: visible;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    left: 0;
}
.header-nav h3 {
    font-family: fantasy;
    font-size: 16px;
  /*  line-height: 1.363;*/
    /*text-transform: uppercase;*/
   /* letter-spacing: 0.25rem;*/
  /*  margin-bottom: 4.8rem;*/
    margin-top: 0.9rem;
    color: #fff
}
.header-nav__list {
    font-family: fantasy;
    font-size: 12px;
    margin: 3.6rem 0 3rem 0;
    padding: 0 0 1.8rem 0;
    list-style: none;
    counter-reset: ctr;

}
.header-nav__list li {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    line-height: 35px;
    position: relative;
}
.header-nav__list a {
    display: block;
    color: #fff;
    position: relative;
    padding-left: 3.5rem;
}
.header-nav__list a::before {
    content: counter(ctr, decimal-leading-zero) ".";
    counter-increment: ctr;
    font-family: "metropolis-regular", sans-serif;
    font-size: 11px;
    /*color: rgba(255, 255, 255, 0.25);*/
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: 3px;
    top: 0;
}
.header-nav__list li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
.bolo p{
  line-height: 1!important;
  color: #fff;
  margin-bottom: -10px
}
.header-nav__social {
    list-style: none;
    display: inline-block;
    font-size: 1.8rem;
    margin: 0;
}
.header-nav__social li {
    display: inline-block;
    margin-right: 12px;
    padding-left: 0;
}

.header-nav__close {
    z-index: 800;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30px;
    border-radius: 3px;
    position: absolute;
    top: 36px;
    right: 30px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
.header-nav a, .header-nav a:visited {
    /*color: rgba(255, 255, 255, 0.5);*/
}










.panel_right dd span{
display: block;
    

    line-height: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: none;
    letter-spacing: 0;
    font-family: fantasy;
    font-size: 18px
}

.home-scroll {
    height: 4.8rem;
    position: absolute;
    right: 110px;
    bottom: 3%;
    z-index: 70
}
.home-scroll__text {
    display: inline-block;
    font-family: fantasy;
    font-size: 10px;
    line-height: 3.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    right: 5rem;
}
 .home-scroll:hover .home-scroll__text {
    border-bottom: 1px solid #ffffff;
}
.home-scroll__icon {
    display: block;
    height: 4rem;
    width: 4rem;
    background-color: #fff;
    background-image: url(../images/icon-arrow-down.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 15px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
}
.panel_right dd:hover{
  background-color: rgb(171, 54, 54, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}
.c_33{
	background: red;
	padding: 0.5%;
	width: 33%;
	float: left;
	color: #fff;
	font-size: 14px;

}
.c_33 img{width: 100%;display: inline-block;}

.laji{
 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 80;
 -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
     overflow-y: auto;
    overflow-x: hidden;
    background: none;
   
       

}

.laji_in{
  /*background: rgb(21, 32, 43,.80);*/
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /*display: none; */
}
.banner-social {
    list-style: none;
    font-size: 14px;
  
    margin: 0;
    color: #ffffff;
    position: absolute;
    bottom: 6.6rem;
    left: 110px;
    position: absolute;

    bottom: 6%;
    z-index: 70;
}

.banner_contact{
    padding-right: 4rem;
    margin-right: 0.8rem;
    position: relative;
    font-family: fantasy;
    font-size: 18px;
}
.banner_contact em{
  font-size: 18px;
  font-family: fantasy;
  color: #fff;
  font-style: normal;
  padding-right: 5%;

}
.banner_contact a{
  padding-left:5%;
  font-family: fantasy;
  font-style: normal;
  font-size: 18px;
  /*position: absolute;
  left: 0;
  top: 0*/
}

.all_box{
	padding:2% 0% 0% 0%;
	width: 100%;
  position: relative;
}

.a_bout{padding-top:180px}
.box_title{color:#ab3636;font-size: 18px;font-family: fantasy;letter-spacing: 1.5px;padding-bottom: 2%}
.box_title span{font-size: 12px}
.paragraph{font-size: 14px;color:#20303c;letter-spacing: 1.5px;line-height: 1.8;padding:0% 2% 2%;}
.paragraph:last-child{padding-bottom: 0}
.box_serv{
	width: 33%;
	float: left;
	padding: 0 2%  ;
	color: #fff;
	font-size: 14px;
	line-height: 1.8
}
.paragraph span{
  font-size: 14px;
  font-weight: bold;
  display: block;
  color: #ab3636;
}
.text{text-align: justify;}
.srv_tit {text-align: center;font-size: 15px;padding-bottom: 2%}
input, textarea{width: 100%;display: block;margin-bottom: 2%;background: #fff;color: #000;font-size: 14px;line-height: 30px;text-align: center;padding: 0 2%;resize: none;border:1px solid #333;}
.contact_email{padding: 0 2%}
button{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-family: fantasy;
	width: 100%;
  background: #ab3636;
  border:0px solid #333;
  border-radius: 20px;
  color: #fff

}
.team-img{
      width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.team-img img{width: 100%}

.contact_lg{
	float: left;
	width: 40%;
  overflow-x: hidden;
}
.contact_lg:last-child{
  width: 60%;
  
}

/*@font-face {
  font-family: 'Genericons';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot") format("truetype");
}*/

.container {
   margin: 0px auto;
    width: 70%;
    
}
.media-container{
  width: 80%;
  margin: 0 auto
}

.soco h1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-family: fantasy;
}

.accordion {
  background: #333;
  width: 100%;
/*  min-width: 800px;
*/  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 195px;
  font-size: 0;
  position: relative;
}

.tab {
  display: inline-block;
  background-color: rgb(21, 32, 43,0.5);
  border-right: rgb(245, 233, 233) 1px solid;
  width: 16.66%;
/*  height: 200px;*/
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
  background: #ab3636;

}

/*.tab:hover {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9

}
.tab:hover .social{
  width: 16.66%
}*/
/*.tab:hover .social a:before {
  margin-left: -100px;
}

.tab:hover .social a:after {
  margin-left: -5px;
}*/

.tab .content {
  background: #fff;
  width: 100%;
  height: 200px;
  margin-left: 80px;
  padding: 50px 0 0 15px;
  position: relative;
  display: 
}

.tab .content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 30px;
}

.les-socio ul li{
    display: inline-block;
    margin-right: 12px;
    padding-left: 0;
}


/*.social a:after,
.social a:before {
  transition: all 0.4s ease-in-out 0.1s;
  width: 100%;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px Genericons;
  color: #fff;
}*/
.tab .social a{
  font-size: 26px;
  color: #fff;
  text-align: center
}
.social{
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 18px;
  float: left;
  transition: all 0.4s ease-in-out 0.1s;
}
/*.tab .social a i{
    transition: all 0.4s ease-in-out 0.1s;
  width: 100%;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px Genericons;
  color: #fff;
}*/

/*.social a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}*/

/*.youtube a:before,
.youtube a:after {
  content: '\f213';
}
.youtube a:after {
  background-color: #ff0000;
}

.twitter a:before,
.twitter a:after {
  content: '\f202';
}
.twitter a:after {
  background-color: #6dc5dd;
}

.facebook a:before,
.facebook a:after {
  content: '\f204';
}
.facebook a:after {
  background-color: #3b5998;
}

.linkedin a:before,
.linkedin a:after {
  content: '\f208';
}
.linkedin a:after {
  background-color: #00a9cd;
}

.instagram a:before,
.instagram a:after {
  content: '\f215';
}
.instagram a:after {
  background-color: #6dc993;
}

.github a:before,
.github a:after {
  content: '\f200';
}
.github a:after {
  background-color: #6e5494;
}*/

.ser-v{
  float: left;
  width: 33.33%;

}

.span-team{
  margin:20px 0 ; 
  text-align: center;
}
.span-team-in{
  text-align: left;
}
.soco-dd dd {
  padding: 9px  0
}
.soco-dd dd:first-child{
  padding-top: 0
}
.soco-dd dd p a{
    font-size: 28px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}
.soco-dd dd p a i.fa-whatsapp{
  color: #075e54
}
 .soco-dd dd p a i{
  color: #900808
}
.soco-dd dd p a i.fa-weixin{
  color: green
}


@media(max-width: 1100px){
  .ser-v{float: none;width: 100%;}
  .paragraph {padding: 0% 0% 2%;}
  .contact_email {padding: 0px}
}

@media (max-width: 950px) {
  .container {
    width: 70%;
  }

  .tab {
    display: block;
    width: 100%;
    border-bottom: 3px #333 solid;
  }

  .accordion {
    display: block;
    width: 100%;
    position: relative;
    height: auto;
  }

  .tab .content {
    width: 85%;
  }

  .tab:hover {
    width: 100%;
  }
  .soco h1 {
    margin-bottom: 20px;}
}

@media (max-width: 680px) {
  .container {
    width: 95%;
  }

  .accordion {
    width: 100%;
    min-width: 350px;
  }
}


.nav_cover{
	background: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 90;
	transform: translateX(-100%);
	 transition: all 0.4s ease-in-out 0.1s;
}

.lol .nav_cover{
	transform: translateX(0%);
}
.goupe_page{
	background: red;
	width: 100%;
	min-height: 500px;
	margin-top: 85px;
	
}

.pos{
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	bottom: 2%;


}
 .web_33{
 	width: 25%;
 	float: left;
 	background:#ab3636;
 	height: 250px;
 	border: 1px solid #fff;
 	position: relative;
 	font-family:  monospace;
 	color: #fff;
 	font-size: 18px
 	/*border-bottom: 1px solid #fff*/
 }

.web_33 a{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	color:#fff;
	text-align: center;
}
.web_33 span{display: block;font-family: fantasy;font-size: 12px}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.blog_nav{
      background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    height: 77px;
}
.blog_log{
  font-size: 18px;
  font-family: fantasy;
  color: #150e0e;
  float: left;

}
.blog_log p{
  line-height: 77px;
}
.blog_log a{display: inline;margin-right: 3%;}
.blog_profil{
      float: right;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: forestgreen;
    overflow: hidden;
    margin-top: 8px;
}
.blog_profil img{width: 100%;margin-top: -19px}
.yrond {
    padding: 10px;
    border: 3px solid #150e0e;
    border-radius: 100%;
    height: 0px;
    width: 40px;
    /* line-height: 20px; */
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #150e0e;
    font-family: sans-serif;
}

.blog_box{
  padding-top: 60px;
}
.more_plus{
  font-size: 14px;
  color: #150e0e;
  text-align: center;
  margin: 20px 0px 0px;
  text-align: center;

}

.more_plus a {
    border-radius: 40px;
    padding: 8px 16px;
    color: #fff;
    background: #ab3636;
}


.the_blog{
  background: #fff;
  border-radius: 5px;
  color: #150e0e;
  margin-top: 60px

}

.the_blog:last-child{margin-bottom: 60px}
.vox{
  max-width: 100%;
  width: 65%;
  margin: 0 auto;
}
.bog_box{
  padding-top:77px
}

.the_tete, .the_desc{
  padding:25px;
}
.the_pict img{width: 100%;}
.the_pict{max-height: 250px}

.perso{
  width: 60%;
float: left;


}
.perso_det{
  float: right;
  width: 40%;
  padding-left: 20px;
}

.perso img{width: 100%;}
.uni_windo, .para-slide{
  background-attachment: fixed!important;
    background-size: 100%;
}


.active .logo{
  opacity: 0;
}
.samme-plus img.back{
  display: block;
  width: 100%
}
.same-plus{
  position: relative;
}
.box-title-in {
    position: absolute;
    left: 0;
    top: 35%;
    z-index: 4;
    width: 100%;
    text-align: center;
    font-size: 38px;
    color: #fff;
    font-weight: bold;
}
.more_plus-ab{
  margin: 40px 0
}
@media(max-width: 1100px){
  .header-nav{
    width: 100%;
    margin-top: 60px
  }
.panel_right{
  display: none;
}
.contact_lg:last-child {
    width: 100%
}
.contact_lg {
    float: none;
    width: 100%;
}
.media-container{
  width: 100%
}
header {
  /*  background: #a00101;*/
    padding: 10px 0;
    position: static;
}
.uni_windo{
  background-position: none!important;
  background-size: 100% cover!important;
  background-attachment: none!important
}
.all_box{
  margin-top: 20px
}
.nav_icon span, .nav_icon span:before, .nav_icon span:after{background-color: #fff}

/*  header, .logo{
    text-align: center;
  }*/

  .hb_blok{
    display: none;
  }
  .home-scroll__icon {
    display: block;
    height: 2.5rem;
    width: 2.5rem;
  }

  
}

@media(max-width: 630px){

  .bolo {
    display: none;
}
  .yayaoune, .tit_inf {
    max-width: 95%;
    
}
.home-scroll {
   
    right: 20px;  
}

.flt span {
    font-size: 14px;
    margin-top: 2rem;
       padding-left: 2.3rem;
}
.tit_inf {
    font-size: 16px;
   
}
.flt span::before {

    width: 2rem;
    height: 1px;

    top: 0.7rem;}

.soco h1 {
    display: none;
}
.box_content{

padding: 5% 0
}
.paragraph {
    font-size: 13px;
    line-height: 1.8;
    text-align: justify;
   
}


}


